@page
@model OneSkate.Web.Pages.Racers.ResultsModel
@{
}
<html>
    <head>
        <h1 style="text-align:center">@Model.Racer.Name</h1><br />
    </head>
<body>
    @{
        if (Model.ListItems.Count == 0)
        {
            <h3 style="text-align:center">This racer has no results in any race yet.</h3>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Race</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var result in Model.ListItems)
                        {
                            <tr>
                                <td>
                                    @result.Text
                                </td>
                                <td>
                                    @result.Value
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }

    
</body>
</html>
