@page
@inject SignInManager<IdentityUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to One Skate application</h1>

    <div>
        @if (!SignInManager.IsSignedIn(User))
        {
                <h3 class="display-5">Log in to access data</h3>
        }
    </div>
</div>
